/* the styles for the elements */

* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: OnePiece;
	src: url("one_piece.ttf");
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    max-width: 2560px;   
    font-size: 100%;
    margin: 0 auto;
    background-color: #fffded;
}

/* the styles for the header */
header {
    background-color: #F0D5A8;
    padding: 1.5em 0 5em 0;
    width: 100%;
}

header h1{
    text-align: center;
    font-family: OnePiece;
    padding-top: .5em;
    font-size: 5em;
    color: black;
}

header p{
    text-align: center;
    font-family: OnePiece;
    font-size: 2em;
    padding-top: 1em;
    color: black;
}


header img{
    width: 100%;
    max-width: 200px;
    padding: 0 2%;
    float: left;
}


/* the styles for the nav menu */
/* nav menu is using flex container (I think) */
/* I personally dont like the vertical nav menu when screen size gets small. I kept it horizontal */

#nav_menu ul {
    display: flex;
    font-family: OnePiece;
    flex-basis: 100%;
    justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
    flex-basis: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #a90000;
    padding: 5%;
    color: white;
    font-weight: bolder;
    border: 1px solid black;
    font-size: 2em;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    width: 20%;
    top: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    display: block;
}

/* the styles for the main */

main{
    display: flex; /* main is using flex container */
    margin-bottom: 15em;
}

main section{
    flex-basis: 90%; /* section is using flex container */
    order: 1;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 2%;
}

figure {
    margin-top: 10em;
    align-items: center;
}

figcaption {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 5em;
    padding-bottom: .25em;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    text-align: center;
    padding: .2em .7em;
    font-size: 3em;
}

th {
    background-color: #F0D5A8;
}

main img {
    width: 90%;
    max-width: 300px;
}

/* The styles for footer */
footer{
    font-size: 100%;
    clear: both;
    text-align: center;
    background-color: #F0D5A8;
    padding: 1em 0em;
    margin-top: 5em;
}







@media only screen and (max-width: 1254px) {
    #nav_menu ul li a {
        font-size: 1.2em;
    }

    figcaption {
        font-size: 4em;
    }

}

@media only screen and (max-width: 756px) {
    header {
        padding-bottom: 2em;
    }

    header h1 {
        font-size: 3em;
    }

    header p {
        font-size: 1.5em;
    }

    header img {
        float: none;
        width: 20%;
        margin-bottom: 0;
    }

    #nav_menu ul li a {
        font-size: .8em;
    }

    figcaption {
        font-size: 2em;
    }

}

@media only screen and (max-width: 498px) {
    
    header h1 {
        font-size: 2.5em;
    }

    #nav_menu ul li a {
        font-size: .6em;
    }

    figure {
        margin-top: 5em;
        margin-bottom: 1em;
    }

    th, td {
        font-size: 1em;
    }

    figcaption {
        font-size: 1.5em;
    }

@media only screen and (max-width: 400px) {
    #nav_menu ul li a {
        font-size: .5em;
    }

}

}