/* the styles for the elements */

* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: OnePiece;
	src: url("one_piece.ttf");
}

body{
    width: 100%;
    max-width: 2560px;   
    font-size: 100%;
    margin: 0 auto;
    background-color: #fffded;
}

/* the styles for the header */
header {
    background-color: #7ad8ea;
    padding: 1.5em 0 5em 0;
    width: 100%;
    font-family: OnePiece;
}

header h1{
    text-align: center;
    padding-top: .5em;
    font-size: 5em;
    padding-right: 15%;
    color: black;
}

header p{
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    color: black;
}


header img{
    width: 100%;
    max-width: 200px;
    padding: 0 2%;
    float: left;
}



/* the styles for the nav menu */

#nav_menu ul {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
    font-family: OnePiece;
}
#nav_menu ul li {
    flex-basis: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #d34a56;
    padding: 5%;
    color: white;
    font-weight: bolder;
    border: 1px solid white;
    font-size: 2em;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    width: 20%;
    top: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    display: block;
}

/* styles for main (column layout) */

main{
    display: flex; /* main is using flex container */
    margin-bottom: 15em;
}

article{
    flex-basis: 100%;
    font-family: Arial, Helvetica, sans-serif;
    column-gap: 3em;
    column-rule: 2px dashed black;
    column-count: 2;
    font-size: 200%;
    margin-top: 3em;
    margin-left: 2%;
    margin-right: 1.5%;
    order: 1;
}


article h1{
    font-size: 4.5em;
    margin-top: .5em;
    margin-left: .5em;
    margin-bottom: .5em;
    column-span: all;
    font-family: OnePiece;
}

article p{
    font-size: 1.5em;
    margin-bottom: 5em;
}

article img{
    float: left;
    width: 100%;
    max-width: 500px;
    border: 1px solid black;
    margin-right: 1em;
}

/* The styles for footer */
footer{
    font-size: 100%;
    clear: both;
    text-align: center;
    background-color: #7ad8ea;
    padding: 1em 0em;
    margin-top: 5em;
}


@media only screen and (max-width: 1254px) {
    #nav_menu ul li a {
        font-size: 1.2em;
    }

    

}

@media only screen and (max-width: 1109px) {

    article h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 756px) {
    header {
        padding-bottom: 2em;
    }

    header h1 {
        font-size: 3em;
    }

    header p {
        font-size: 1.5em;
    }

    header img {
        float: none;
        width: 20%;
        margin-bottom: 0;
    }

    #nav_menu ul li a {
        font-size: .8em;
    }

    main {
        flex-direction: column;
        margin-bottom: 5em;
        font-size: .5em;
    }

    article {
        column-count: 1;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    article img {
        float:none;
        margin-bottom: 1em;
    }
    

@media only screen and (max-width: 498px) {
    
    header h1 {
        font-size: 2.5em;
    }
    header p {
        font-size: 1.2em;
    }

    #nav_menu ul li a {
        font-size: .6em;
    }

    article img {
        width: 70%;
        margin-left: 2%;
    }

    article h1 {
        font-size: 2em;
    }
   
    article p {
        font-size: 1.5em;
        padding-left: 2%;
    } 
}

@media only screen and (max-width: 400px) {
    #nav_menu ul li a {
        font-size: .5em;
    }

}

}