/* the styles for the elements */

* {
	margin: 0;
	padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    max-width: 2560px;   
    font-size: 100%;
    margin: 0 auto;
    background-color: #fffded;
}

/* the styles for the header */
header {
    width: 100%;
    padding: 1.2%;
    background-color: #F0D5A8;
}

header h1{
    text-align: center;
    font-size: 5em;
    color: black;
}

header p{
    text-align: center;
    font-size: 2.5em;
    padding-top: 1.5%;
    color: black;
}


header img{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    padding: 0px 30px 10px 30px;
    float: left;
}


/* the styles for the nav menu */

#nav_menu ul {
    width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
    width: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 5%;
    text-decoration: none;
    background-color: red;
    color: white;
    font-weight: bolder;
    border: 1px solid black;
    font-size: 2em;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles for the main */

main section{
    width: 58.59375%;
    float: left;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 2%;
}

section h2{
    margin-top: 4%;
    margin-bottom: 3.5%;
    margin-left: 10%;
    font-size: 3.5em;
}

section p{
    margin-left: 5%;
    font-size: 2.2em;
}

h2.Border{
    margin-left: 1%;
    padding-left: 32%;
    padding-top: 2%;
    border-top: 3px dashed red;
}

h2.Author{
    margin-left: 1%;
    padding-left: 40%;
    padding-top: 2%;
    border-top: 3px dashed red;
}

p#Eiichiro{
    margin-bottom: 50%;
}
a#Plot{
    font-size: 1em;
    margin-bottom: 1em;
    text-decoration: none;
}

img.Oda{
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: .5%;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 550px;
    border: 1px solid black;
}

img#gif{
    margin-left: 4em;
    margin-bottom: 3em;
}



/* the styles for the aside */

main aside{
    width: 30%;
    float: right;
    margin-left: 3%;
    padding-top: 2%;
}

aside h2{
    padding-left: 2%;
    font-size: 3em;
}

aside h3{
    padding-top: 2%;
    padding-bottom: 1.5%;
    padding-left: 10%;
    padding-right: 2%;
    font-size: 1.5em;

}

aside img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    margin-left: 10%;
    margin-right: 2%;
    border: 1px solid black;
}

/* The styles for footer */
footer{
    font-size: 150%;
    clear: both;
    text-align: center;
    background-color: #F0D5A8;
    padding: 1em 0em;
}





